<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 class="text-center"> 카테고리 생성 </h1>
        <hr>
        <div class="text-center">
            <div style="display: flex; flex-direction: column;">
                <input id="category" placeholder="카테고리명" name="category">
            </div>
            <button onclick="submitCategory()">생성</button>
        </div>
    </body>
    <script src="category.js"></script>
</html>
